{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande - La boutique Française{% endblock %}

{% block content %}
<h2>Confirmation de commande</h2>
<p>
    Bonjour {{ order.user.firstname }} {{ order.user.lastname }}, <br>
    votre commande n°{{ order.reference }} a bien été enregistrée. <br>
    Vous recevrez un email de confirmation à l'adresse {{ order.user.email }}.
    <hr>
    Votre commande sera livrée par {{ order.carrierName }} à l'adresse : <br><br>
    {{ order.delivery | raw }}
    <hr>
    Pour suivre votre commande, rendez-vous dans votre <a href="{{ path('account_order') }}">espace personnel</a>.
</p>

{% endblock %}
